@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

a {
    color: white;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #F39EB1;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    background-attachment: scroll;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    background-image: url(../images/dc8772d9.png);
    min-height: 700px;
}

#header {
    position: relative;
    margin: 10px 10px 30px 10px;
    height: 100px;
}

.head {
    float: left;
}

.object1 {
    position: absolute;
    left: 0;
    background-image: url(../images/candy-canes.jpg);
    border-radius: 30px;
    padding: 10px;
    border: 3px solid white;

}

.object2 {
    position: absolute;
    right: 0;
    width: 200px;
    height: 100px;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 16px;
}

.object2 span{
    display: block;
}

.object2 a {
    margin-right: 10px;
    font-size: 16px;
}

.objectAudio {
    position: absolute;
    left: 600px;
    width: 300px;
    height: 200px;
}



#mainContainer {
    position: relative;
    margin: 10px auto;
    float: none;
    background-image: url(../images/ZenBG.png);
    background-repeat: repeat;
    height: 700px;
    border-top: 5px solid #FFF9FC;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#workzone {
    padding: 20px;
    background-color: white;
    height: auto;
    width: 70%;
    margin: 10px auto;
    border-radius: 68px 10px 46px 10px;
    -moz-border-radius: 68px 10px 46px 10px;
    -webkit-border-radius: 68px 10px 46px 10px;
    -webkit-box-shadow: inset -8px -11px 53px 8px rgba(220, 118, 147, 1);
    -moz-box-shadow: inset -8px -11px 53px 8px rgba(220, 118, 147, 1);
    box-shadow: inset -8px -11px 53px 8px rgba(220, 118, 147, 1);

}

.info{
    color: #F39EB1;
    padding: 10px;
    width: 304px;
    margin: 10px auto;
    font-weight: bold;
    border: 2px groove #F39EB1;
}

.info a{
    color: #F39EB1;
}