
.productbox {
    margin: 20px;
    float: left;
    background: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    min-width: 200px;
    width: auto;
    max-width: 258px;
    height: auto;
}
.productbox button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    background: #F39EB1;
    color: #fff;
    padding: 3px 13px;
    cursor: pointer;
    margin-top: 10px
}
.productbox button:hover {
    background: #d492c5;
}

.productbox p {
    font-weight: bold;
}
.productbox h2 {
    margin: 10px 0;
    font-weight: normal
}
.productbox .image {
    background: #fff;
    padding: 10px;
    position: relative;
    width: 200px;
    height: 200px;
}
.productbox .image span {
     position: absolute
 }

.productbox .image img {
    width: 200px;
    height: 200px;
}


.productbox .image .sale {
    background: green;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 3px 10px;
    bottom: 10px;
    right: 10px
}

.productbox .details{
    width: 280px;
    height: 100px;
    margin: 0 auto;
    font-size: 10px;
    display: none;

}

.productbox input{
    width: 40px;
    margin: 0 10px;
}